# Getting Stock Price Data

In [1]:
import datetime as dt # so that we can set some starting and end dates for the data we can pull

In [2]:
import matplotlib.pyplot as plt # helps in making plots charts graphs 
from matplotlib import style # to make our graphs looks better

In [3]:
import pandas as pd 
import pandas_datareader.data as web # it is used for remote data access for pandas it returns data in pandas dataframe

In [4]:
style.use('ggplot') # one of many styles we are using ggplot

In [5]:
start = dt.datetime(2000,1,1)
end = dt.datetime(2016,12,31)

In [6]:
df = web.DataReader('TSLA', 'yahoo', start, end) # we are using ticker it is symbol for a company for a stock here TSLA is Tesla
# then where we are getting from we are getting from Yahoo and then for what time then we told about start and end time

In [7]:
df.head(6)
df.tail(6)
# it has adj close means adjusted close it is adjusted for **stock splits** this happens when a company decides their
# price maybe its too high per share they say okay every share is two share actually

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-12-22,209.990005,206.500000,208.220001,208.449997,3111100,208.449997
2016-12-23,213.449997,207.710007,208.000000,213.339996,4662900,213.339996
2016-12-27,222.250000,214.419998,214.880005,219.529999,5915700,219.529999
2016-12-28,223.800003,217.199997,221.529999,219.740005,3782500,219.740005
2016-12-29,219.199997,214.119995,218.559998,214.679993,4035900,214.679993
2016-12-30,217.500000,211.679993,216.300003,213.690002,4642600,213.690002